body {
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
  }
 
  /* ----------Chat------------- */
  .fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  /* --------Header Bar---------- */
  .header {
    overflow: hidden;
    background-color: purple;
  }
  
  .header p {
    float: left;
    text-align: center;
    padding: 12px 12px 12px;
    margin: -7px 8px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    
  }
  
  .header-right {
    float: right;
    display:inline;

  }

  .header-center {
        list-style:none;
        margin:10;
        padding-left:16%;
        text-align: right;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
  
  #storeicon {
    width: 16%;
    padding-right: 2px;
  }

  #supporticon {
    width: 20%;
    padding-right: 2px;
    display: inline;
  }

  #carticon {
    width: 60%;
    height: auto;
    display: inline;
  }

/* -------------Navbar------------ */
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    text-align: left;
    padding: 5px 5px;
    margin: 12px 0px 10px;
    text-decoration: none;
    font-size: 12px;
    color: gray;
  }

  #logo {
      width: 60%;
      height: auto;
      padding-left: 17px;

  }
  
  .topnav-right {
    float: right;
    display:inline;
  }
  .topnav-right a {
    padding-top: 5px;
  }

  .topnav-center {
        list-style:none;
        display: flex;
        justify-content: center;
    }
  .topnav-center a{
    padding-top: 9px;
    padding-right:5%;
  }

/* -------Footer-------- */

.footer {
  overflow: hidden;
  background-color: purple;
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-botton: 10%;
  color: white;
}

.newsletter {
    float: right;
    max-width: 90%;
  }

.footer p {
  font-size: 14px;
  padding-top: 0.5%;
}

.copyright p {
  font-size: 12px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}


/* -----------HOME Header Image ------------- */
  #headerimage {
    width: 100%;
    height: auto;
  }
  

/* ------------HOME Bestsellers------------ */
#bestsellers {
  display: flex;
  justify-content: center;
  padding: 40px;
  color: purple;
  font-size: 24px
}

#featured {
  display: flex;
  justify-content: center;
  width: 85%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
}

#featured a {
  padding-left: 4%;
  width:80%
}

/* ------------HOME Materials------------ */
#materials {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  padding-bottom: 1%;
  color: purple;
  font-size: 24px
}

#samples {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 3.5%;
  padding-right: 5%;
}

#samples img {
  padding-left: 4%;
  width: 80%;
  height: auto;
}

/* ----------------HOME Reviews---------- */

#customerreviews {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  color: purple;
  font-size: 24px
}

#stars {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#reviews {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 3.5%;
  padding-right: 5%;
}

#reviews img {
  padding-left: 4%;
  width: 70%;
  height: auto;
}

#loadmore {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

/*------------COUCH-----------*/
.topcouch {
  width: 100%;
  height: auto;
}

.filters {
  margin: 10px;
  padding-left: 20px;
}