body {
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
  }
 
  /* ----------Chat------------- */
  .fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  /* --------Header Bar---------- */
  .header {
    overflow: hidden;
    background-color: purple;
  }
  
  .header p {
    float: left;
    text-align: center;
    padding: 12px 12px 12px;
    margin: -7px 8px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    
  }
  
  .header-right {
    float: right;
    display:inline;

  }

  .header-center {
        list-style:none;
        margin:10;
        padding-left:16%;
        text-align: right;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
  
  #storeicon {
    width: 16%;
    padding-right: 2px;
  }

  #supporticon {
    width: 20%;
    padding-right: 2px;
    display: inline;
  }

  #carticon {
    width: 60%;
    height: auto;
    display: inline;
  }

/* -------------Navbar------------ */
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    text-align: left;
    padding: 5px 5px;
    margin: 12px 0px 10px;
    text-decoration: none;
    font-size: 12px;
    color: gray;
  }

  #logo {
      width: 60%;
      height: auto;
      padding-left: 17px;

  }
  
  .topnav-right {
    float: right;
    display:inline;
  }
  .topnav-right a {
    padding-top: 5px;
  }

  .topnav-center {
        list-style:none;
        display: flex;
        justify-content: center;
    }
  .topnav-center a{
    padding-top: 9px;
    padding-right:5%;
  }

/* -------Footer-------- */

.footer h4 {
  color: white;
}
.footer {
  overflow: hidden;
  background-color: purple;
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-botton: 10%;
  color: white;
}

.newsletter {
    float: right;
    max-width: 90%;
  }

.footer p {
  font-size: 14px;
  padding-top: 0.5%;
}

.copyright p {
  font-size: 12px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

/* -------FONT STYLING-------*/
h3 {
  font-size: 24px;
  color: purple;
}

h4 {
  font-size: 22px;
  color: purple;
}
/* -----------HOME Header Image ------------- */
  #headerimage {
    width: 100%;
    height: auto;
  }
  

/* ------------HOME Bestsellers------------ */
#bestsellers {
  display: flex;
  justify-content: center;
  padding: 40px;
}

#featured {
  display: flex;
  justify-content: center;
  width: 85%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
}

#featured a {
  padding-left: 4%;
  width:80%
}

/* ------------HOME Materials------------ */
#materials {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  padding-bottom: 1%;
}

#samples {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 3.5%;
  padding-right: 5%;
}

#samples img {
  padding-left: 4%;
  width: 80%;
  height: auto;
}

#labels img {
  float: center;
  width: 71%;
  height: auto;
  margin-left:13%;
  margin-right: 12%;
}

/* ----------------HOME Reviews---------- */

#customerreviews {
  display: flex;
  justify-content: center;
  padding-top: 12%;
}

#stars {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#reviews {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 3.5%;
  padding-right: 5%;
}

#reviews img {
  padding-left: 4%;
  width: 70%;
  height: auto;
}

#loadmore {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 15%;
}

/*------------PRODUCT CATEGORY-----------*/
.head-container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 110px;
  left: 100px;
  text-align: left;
  line-height: 1.5;
}

.top-left {
  position: absolute;
  top: 130px;
  left: 100px;
  font-size: 24pt;

}
.tophead img {
  width: 100%;
  height: auto;
}

.filters {
  margin: 10px;
  padding-left: 20px;
}
.prodimages {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-left: 2.5%
}

.shop {
  display: flex;
  justify-content: center;
  padding-left: 6%;
  padding-bottom: 30%;
}

.shop a {
  padding-right: 3%;
  padding-top: 20px;
}

/* --------PRODUCT DETAIL---------- */
.detail {
  margin-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8%;
}

#back {
  width: 4%;
}
.info-right img {
  float: right;
  width: 40%
}

.det-left img {
  width: 45%;
  padding-left: 6%;
}

.addbasket img {
  margin-top: -120px;
  float:right;
  width: 40%;
}

.recommended {
  margin-top: 9%;
  margin-left: 10%;
  margin-right: 10%;
}

/* -----------BASKET------------- */
.baskethead {
  background-image: url("Line\ Header\ \(1\).svg");
  background-size: 100%;
  padding-top: 2%;
  padding-bottom: 8%;
  padding-left:2%;
  padding-right:2%;
}

.baskethead h3 {
  display: flex;
  justify-content: center;
}

.basketbody {
  padding-bottom: 40%;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;

}

.basket-right {
  float: right;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 250px;
  left: 40px;
}

/* -----------CHECKOUT------------- */

.checkoutinfo {
  padding-bottom: 40%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;

}

.checkout-right {
  float: right;
  position: relative;
  top: 0;
  left: 0;
}

.imageA {
  position: relative;
  top: 0;
  left: 0;
}

.imageB {
  position: absolute;
  top: 250px;
  left: 40px;
}

#addcard {
  padding-left: 1%;
}

/* ------------ORDER CONFIRMATION----------- */
.orderhead {
  background-image: url("Line\ Header\ \(1\).svg");
  background-size: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left:2%;
  padding-right:2%;
}

.orderhead h3 {
  display: flex;
  justify-content: center;
}

.orderbody {
  padding-top: 5%;
  padding-bottom: 15%;
  display: flex;
  justify-content: center;
}

.continue {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
}